blessings==1.7
bpython==0.21
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
curtsies==0.3.10
cwcwidth==0.1.5
Flask==2.0.2
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
Pygments==2.10.0
pyxdg==0.27
requests==2.26.0
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
